.pageHeader  {
    background-color:#000000;
    text-align: center;
}

.body {
    background-color: #87CEFA;
 }

.pageFooter {
    left: 0;
    bottom: 0;
    background-color: #000000;
    color: white;
    text-align: center;
 }